.env.*
.env
*.conf
!*.conf.sample
!.env.sample
!.env.*.sample
__pycache__

bin/*
daolytic-ops/*
lib/*
lib64
pyvenv.cfg
tc-DAOlytics-operation/main.ipynb
share/*
.coverage

dump.rdb

**/.env
*.DS_Store
tc-ops/*

*.key